@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
font-family: 'Roboto', sans-serif;
margin: 0 auto;
padding: 2rem;
box-sizing: none;
display: flex;
flex-direction: column;
place-items: center;
padding-bottom: 2rem;
background: linear-gradient(to bottom, #c6d3dd, #004466);
}


@media(max-width:718px){
    body{max-width: 370px}
}
