.appContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.cardContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 75rem;
	flex-wrap: wrap;
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	background-color: #007bff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	width: 70%;
	align-self: center;
}
